:root{
    --gray1: rgb(18, 18, 18);
    --gray2: rgb(25, 25, 25);
    --gray3: rgb(40, 40, 40);
    --gray4: rgb(70, 70, 70);
    --gray5: rgb(130, 130, 130);

    --theme: rgb(255, 160, 0);
    --theme2: rgb(200, 120, 0);
    --theme3: rgb(150, 90, 30);

    --counter: rgb(0, 160, 255);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Arial';
}

body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    margin: 0;

    color: white;
    overflow: hidden;
}

header{
    position: fixed;
    background-color: var(--gray2);

    box-shadow: 0 -3px 0 var(--theme) inset;

    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
}

header logo{
    font-family: 'Times New Roman';
    margin-left: 2em;
    font-size: 1.5em;
    color: white;
    text-shadow:    0 0 10px #fff, 
                    0 0 20px #fff, 
                    0 0 30px var(--theme), 
                    0 0 40px var(--theme), 
                    0 0 50px var(--theme), 
                    0 0 60px var(--theme), 
                    0 0 70px #e60073;
}

header logo m{
    content: "M";
    font-size: 2.5em;
}

header logo::after{
    position: absolute;
    transform: translate(0, 1em);
    color: var(--theme);
    content: "*";
}


left-bar{

    position: fixed;
    background-color: var(--gray2);

    top: 10vh;
    width: 350px;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;

    overflow-x: hidden;
    overflow-y: auto;

    transition: transform 1s;
}

left-bar.hidden{
    transform: translate(-350px, 0);
}

left-bar room{
    background-color: var(--gray2);

    width: 70%;
    height: 6vh;

    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 2px solid var(--gray4);
    border-left: 0;
    border-right: 0;

    display: flex;
    align-items: center;
}

left-bar room.private{
    color: var(--theme);
}

left-bar room.new{
    border-color: white;
}

left-bar room.active{
    background-color: var(--gray5);
}

left-bar room.active:hover{
    background-color: var(--gray5);
}

left-bar room:hover{
    background-color: var(--gray4);
}

left-bar room img{
    border-radius: 50%;
    height: 100%;
    margin: 2vh;
}

left-bar room container{
    display: flex;
    flex-direction: column;
}

left-bar room name{
    font-size: 1.5em;
    display: inline;
}

left-bar room container sub-title::before{
    content: attr(count);
}

right-bar{

    position: fixed;
    background-color: var(--gray2);
    color: var(--counter);

    top: 10vh;
    right: 0;
    width: 350px;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;

    overflow-x: hidden;
    overflow-y: auto;

    transition: transform 1s;
}

right-bar::before{
    color: white;
    content: 'Users online:';
}

right-bar.hidden{
    transform: translate(350px, 0);
}

right-bar user{
    padding: 4px;
}

right-bar user:hover{
    cursor: pointer;
    color: var(--gray5);
}

main{
    position: absolute;
    background-color: var(--gray3);

    top: 10vh;
    left: 350px;
    width: calc(100% - 700px);
    height: 90vh;
    max-height: 90vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 1s, width 1s;
}

main.wide{
    transform: translate(-350px, 0);
    width: 100vw;
}

main.halfWide{
    width: calc(100% - 350px);
}

main chat{
    position: relative;
    display: flex;
    padding: 5vh 5vw 5vh 5vw;
    width: 70%;
    height: 100%;
    max-height: 90vh;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;

    transition: transform 1s;
}

main chat.hidden{
    transform: translate(0, 100vh);
}

main chat bubble{
    position: relative;
    margin-bottom: 0.3em;

    border-radius: 5px;
    max-width: 40vw;

    padding: 0.1em 0.3em 0.1em 0.3em;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 15px rgb(0, 0, 0, 1);
}

main chat bubble.in{
    color: white;
    background-color: var(--gray4);
    align-self: flex-start;
}

main chat bubble.out{
    color: white;
    background-color: var(--theme3);
    align-self: flex-end;
    text-align: right;
}

main chat bubble.neutral{
    font-size: 1em;
    align-self: center;
    text-align: center;
    width: 50%;
    margin: 0.5em 0 0.8em 0;
    color: white;
    background-color: var(--gray4);
}

main chat bubble name{
    color: lightblue;
    font-size: 0.9em;
    margin-bottom: 0.1em;
}

main chat bubble p{
    word-wrap: break-word;
    margin: 0;
}

main chat bubble time{
    position: relative;
    color: rgb(220, 220 , 220);
    font-size: 0.7em;
    width: 100%;
    text-align: right;
    margin: 0;
}

main input-area{
    border: 1px solid black;
    width: 100%;
    background-color: var(--gray4);
    transition: transform 1s;
}

main input-area.hidden{
    transform: translate(0, 10vh);
}

main input-area form{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray5);
}

main input-area form container{
    margin: 0;
    padding: 0;
    display: inline-grid;
}

main input-area form container::after{
    font-size: 1.5em;
    content: attr(data-value);

    grid-area: 2 / 1;
    height: 100%;
    max-height: 250px;
    overflow: hidden;
    width: 600px;

    margin: 0.6em auto 0.6em auto;
    padding: 0.15em;

    visibility: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

main input-area textarea{  
    font-family: 'Arial';
    box-sizing: border-box;
    position: relative;
    display: block;

    font-size: 1.5em;
    resize: none;
    width: 600px;
    max-height: 250px;
    border-radius: 10px;

    padding: 0.15em;
    margin: 0.6em auto 0.6em auto;
    border: 0;
    outline: 0;

    grid-area: 2 / 1;
    word-wrap: break-word;
}

main login{
    overflow: hidden;
    position: absolute;
    top: 13vh;
    width: 20vw;
    height: 30vh;

    background-color: white;
    color: black;
    border-radius: 3em 0 3em 0; 
    box-shadow: 0 0 100px rgb(0, 0, 0, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

main login.hidden{
    transition: transform 1s;
    transform: translate(-100vw, 0);
    display: none;
}

main login top-bar{
    width: 100%;
    border-radius: 3em 0 0 0;
    background-color: rgb(220, 220, 220);
    color: black;
    text-align: center;
}

main login top-bar logo{
    font-family: 'Times New Roman';
    font-size: 1.5em;
}

main login top-bar logo m{
    content: "M";
    font-size: 2.5em;
}

main login top-bar logo::after{
    position: absolute;
    transform: translate(0, 1em);
    color: var(--theme);
    content: "*";
}

main login p{
    text-align: center;
    font-size: 1.3em;
}

main login a{
    font-weight: bold;
    color: var(--theme2);
}

main login input{
    width: 13em;
    font-size: 1.2em;
    margin-top: 0.1em;
    outline: none;
}

main login input:focus{
    outline: 3px solid var(--theme);
}